@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sx-primary-color: #0078ff;

  --sx-demo-editor-background: #005dc70d;
  --sx-demo-container-background: #005dc71a;
  --sx-demo-preview-background: #fff;
  --sx-demo-button-text-color: #4b5563;
  --sx-demo-button-hover-text-color: #111827;
  --sx-demo-button-hover-background-color: #005dc733;

  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
}

.dark {
  --sx-demo-editor-background: #8ad0ff1a;
  --sx-demo-container-background: #8ad0ff33;
  --sx-demo-preview-background: #111111;
  --sx-demo-button-text-color: #9ca3af;
  --sx-demo-button-hover-text-color: #f9fafb;
  --sx-demo-button-hover-background-color: #8ad0ff4d;

  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #ffab70;
}
