.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--sx-bg-color);
  border-color: var(--sx-border-color);
  border-bottom-width: 1px;
  transition: var(--sx-transition-property) var(--sx-transition-timing-function)
    var(--sx-transition-duration-large);
  backdrop-filter: blur(12px);
  height: var(--sx-header-height);
  padding-inline: 1.5rem;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90rem;
  margin-inline: auto;
}

.mobile-sidebar-container {
  display: flex;
  margin-inline-end: 1rem;
  display: none;
}

.logo-container {
  position: relative;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  color: var(--sx-header-text-color);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
}

.version {
  border-radius: 0.25rem;
  color: var(--sx-header-badge-text-color);
  background: var(--sx-header-badge-text-bg-color);
  padding: 0.25rem 0.375rem;
  font-size: 0.875rem;
  line-height: 1;
}

.header__end-content {
  position: relative;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: flex-end;
  padding-block: 0.5rem;
}

.links {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--sx-transition-property) var(--sx-transition-timing-function)
    var(--sx-transition-duration-large);
  padding: 0.625rem;
  margin-inline: 0.5rem;
  border-radius: 0.25rem;
}
