:root {
  --sx-callout-default-bg-color: #ccc;
  --sx-callout-default-border-color: #ccc;
  --sx-callout-default-text-color: #ccc;
  --sx-callout-error-bg-color: #ccc;
  --sx-callout-error-border-color: #ccc;
  --sx-callout-error-text-color: #ccc;
  --sx-callout-info-bg-color: #ccc;
  --sx-callout-info-border-color: #ccc;
  --sx-callout-info-text-color: #ccc;
  --sx-callout-warning-bg-color: #ccc;
  --sx-callout-warning-border-color: #ccc;
  --sx-callout-warning-text-color: #ccc;
}
