:root {
  --sx-header-bg-color: transparent;
  --sx-header-height: 4rem;
  --sx-header-text-color: var(--sx-text-color);
  --sx-header-badge-text-color: var(--sx-text-color);
  --sx-header-badge-text-bg-color: hsl(var(--sx-accent-hsl));
}
