:root {
  --sx-pagination-heading-text-color: var(--sx-text-color);
  --sx-pagination-link-text-color: var(--sx-link-inactive-color);
  --sx-pagination-link-hover-text-color: var(--sx-link-inactive-hover-color);
}
